<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="thirdServices" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<!-- 
				<entry key="SINA" value-ref="sinaService" />
				<entry key="QQWEIBO" value-ref="qqWeiboSerivce" />
				<entry key="RENREN" value-ref="renrenService" />
				<entry key="KAIXIN" value-ref="kaiXinService" />
				<entry key="DOUBAN" value-ref="douBanService" />
				<entry key="WANGYI" value-ref="wangYiService" />
				<entry key="QQ" value-ref="qQService" />
				<entry key="SOHU" value-ref="soHuService" />
				 -->
			</map>
		</constructor-arg>
	</bean>
</beans>
