<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="musicCreateFields" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>id</value>
				<value>title</value>
				<value>author</value>
				<value>url</value>
				<value>lrc</value>
				<value>createTime</value>
				<value>isUpload</value>
				<value>isIndex</value>
				<value>isValid</value>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="userCreateFields" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>id</value>
				<value>sex</value>
				<value>userNick</value>
				<value>userImg</value>
				<value>introduction</value>
				<value>province</value>
				<value>city</value>
				<value>mobile</value>
				<value>email</value>
				<value>regTime</value>
				<value>modifyTime</value>
				<value>content</value>
				<value>statusTime</value>
				<value>point</value>
				<value>honour</value>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="pathCreateFields" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>id</value>
				<value>userId</value>
				<value>loc</value>
				<value>province</value>
				<value>city</value>
				<value>isClean</value>
				<value>discoveryTime</value>
			</list>
		</constructor-arg>
	</bean>

	<bean id="musicQueryFields" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>id</value>
				<value>title</value>
				<value>author</value>
				<value>lrc</value>
				<value>isValid</value>
			</list>
		</constructor-arg>
	</bean>

	<bean id="solrCreateFields" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="music" value-ref="musicCreateFields" />
				<entry key="userstatuspoint" value-ref="userCreateFields" />
				<entry key="path" value-ref="pathCreateFields" />
			</map>
		</constructor-arg>
	</bean>

	<bean id="solrQueryFields" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="music" value-ref="musicQueryFields" />
			</map>
		</constructor-arg>
	</bean>


</beans>
