<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhy.listen.dao.AuthorDAO">

	<resultMap id="authorResult" type="com.zhy.listen.bean.Author">
		<result property="id" column="id" />
		<result property="name" column="title" />
		<result property="enName" column="en_name" />
		<result property="firstEnName" column="first_en_name" />
		<result property="isValid" column="is_valid" />
		<result property="modifyTime" column="modify_time" />
	</resultMap>

	<select id="getAuthorsByConditions" parameterType="music" resultMap="authorResult">
		SELECT * FROM `author`
		<where>
			<if test="isValid != null">AND is_valid = #{isValid}</if>
			<if test="name != null">AND title = #{name}</if>
			<if test="enName != null">AND en_name = #{enName}</if>
			<if test="firstEnName != null">AND first_en_name = #{firstEnName}</if>
		</where>
	</select>
	
	<select id="getAuthorsByConditionsCount" parameterType="music" resultType="int">
		SELECT COUNT(1) FROM `author`
		<where>
			<if test="isValid != null">AND is_valid = #{isValid}</if>
			<if test="name != null">AND title = #{name}</if>
			<if test="enName != null">AND en_name = #{enName}</if>
			<if test="firstEnName != null">AND first_en_name = #{firstEnName}</if>
		</where>
	</select>
	
	<insert id="save" parameterType="author">
		INSERT INTO author (title, en_name, first_en_name) VALUES (#{name}, #{enName}, #{firstEnName})
		<selectKey keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="batchSave">
		INSERT INTO author (title, en_name, first_en_name) VALUES 
		<foreach collection="list" item="l" separator=",">
			(#{l.name}, #{l.enName}, #{l.firstEnName})
		</foreach>		
	</insert>
	
</mapper>
