<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhy.listen.dao.FriendDAO">

	<resultMap id="friendResult" type="friend">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="friendId" column="friend_id" />
		<result property="createTime" column="create_time" />
		<result property="modifyTime" column="modify_time" />
		<result property="isValid" column="is_valid" />
	</resultMap>

	<resultMap id="userResult" type="user">
		<result property="id" column="id" />
		<result property="userName" column="user_name" />
		<result property="passWord" column="pass_word" />
		<result property="birthday" column="birthday" />
		<result property="sex" column="sex" />
		<result property="userNick" column="user_nick" />
		<result property="userImg" column="user_img" />
		<result property="province" column="province" />
		<result property="city" column="city" />
		<result property="introduction" column="introduction" />
		<result property="mobile" column="mobile" />
		<result property="email" column="email" />
		<result property="regTime" column="reg_time" />
		<result property="modifyTime" column="modify_time" />
		<result property="isValid" column="is_valid" />
		<result property="isIndex" column="is_index" />
	</resultMap>
	
	<select id="getFriendsByUserId" parameterType="friend" resultMap="userResult">
		SELECT u.* FROM USER u INNER JOIN friend f ON u.id = f.friend_id WHERE f.user_id = #{userId} AND f.is_valid = true 
		ORDER BY f.create_time DESC LIMIT #{sinceCount}, #{pageSize}
	</select>
	
	<select id="getFriendsByUserIdCount" parameterType="friend" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM `friend` WHERE user_id = #{userId} AND is_valid = true
	</select>
	
	<select id="getUserFriendSize" parameterType="java.lang.Long"
		resultType="java.lang.Integer">
		SELECT COUNT(*) FROM `friend` WHERE user_id=#{id}
	</select>

	<insert id="save" parameterType="friend">
		INSERT INTO `friend` (user_id, friend_id, modify_time, is_valid)
		VALUES (#{userId}, #{friendId},#{modifyTime}, #{isValid})
		<selectKey resultType="java.lang.Long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<update id="updateRelation" parameterType="friend">
		UPDATE `friend` set is_valid = #{isValid} WHERE user_id =
		#{userId} AND friend_id = #{friendId}
	</update>
	
	<select id="getFriendIds" parameterType="java.lang.Long" resultType="java.lang.Long">
		SELECT friend_id FROM friend WHERE user_id = #{userId} AND is_valid = true ORDER BY create_time DESC
	</select>

</mapper>
