<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhy.listen.dao.PointDetailDAO">

	<resultMap id="pointDetailResult" type="pointDetail">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="pointType" column="type" typeHandler="com.zhy.listen.bean.typeHandler.PointTypeHandler" />
		<result property="point" column="point" />
		<result property="createTime" column="create_time" />
	</resultMap>

	<insert id="save" parameterType="pointDetail">
		INSERT INTO `user_point_detail` (user_id, type, point) VALUES (#{userId}, #{pointType.type}, #{pointType.score})
		<selectKey resultType="Long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

</mapper>
