<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhy.listen.dao.StatusDAO">

	<resultMap id="statusResult" type="status">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="content" column="content" />
		<result property="createTime" column="create_time" />
		<result property="modifyTime" column="modify_time" />
		<result property="isValid" column="is_valid" />
	</resultMap>

	<select id="getUserLastestStatus" parameterType="java.lang.Long" resultMap="statusResult">
		SELECT * FROM status WHERE user_id = #{userId} ORDER BY create_time DESC LIMIT 1
	</select>
	
	<insert id="save" parameterType="status">
		INSERT INTO status (user_id, content, create_time) VALUES (#{userId}, #{content}, #{createTime})
		<selectKey keyProperty="id" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<select id="getById" parameterType="java.lang.Long" resultMap="statusResult">
		SELECT * FROM status WHERE id = #{id}
	</select>
</mapper>
