<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhy.listen.dao.UserDAO">

	<resultMap id="userMap" type="user">
		<result property="id" column="id" />
		<result property="userName" column="user_name" />
		<result property="passWord" column="pass_word" />
		<result property="birthday" column="birthday" />
		<result property="sex" column="sex" />
		<result property="userNick" column="user_nick" />
		<result property="userImg" column="user_img" />
		<result property="province" column="province" />
		<result property="city" column="city" />
		<result property="introduction" column="introduction" />
		<result property="mobile" column="mobile" />
		<result property="email" column="email" />
		<result property="regTime" column="reg_time" />
		<result property="modifyTime" column="modify_time" />
		<result property="isValid" column="is_valid" />
		<result property="isIndex" column="is_index" />
	</resultMap>

	<resultMap id="userStatusResult" type="userStatus" extends="userMap">
		<result property="content" column="content"/>
		<result property="statusTime" column="status_time"/>
	</resultMap>
	
	<!-- 验证该用户名是否可用 -->
	<select id="isExistUser" parameterType="java.lang.String"
		resultMap="userMap">
		SELECT * FROM `user` WHERE user_name=#{userName}
	</select>

	<!-- 根据用户名密码登陆 -->
	<select id="getUserByNameAndPass" parameterType="user"
		resultMap="userMap">
		SELECT * FROM `user` WHERE user_name = #{userName} AND pass_word
		= #{passWord} AND is_valid = true
	</select>

	<!-- 根据用户ID查询 -->
	<select id="getUserById" parameterType="java.lang.Long"
		resultMap="userMap">
		SELECT * FROM `user` WHERE id = #{id}
	</select>

	<!-- 根据用户昵称查询 -->
	<select id="getUserByNick" parameterType="java.lang.String"
		resultMap="userMap">
		SELECT * FROM `user` WHERE user_nick like #{userNick}
	</select>

	<!-- 随即查询用户 -->
	<select id="getUsersByRandom" parameterType="user"
		resultMap="userMap">
		SELECT * FROM `user` WHERE
		<![CDATA[ id <> #{id} ]]>
		ORDER BY rand() LIMIT #{pageSize}
	</select>

	<!-- 查询用户id及昵称 -->
	<select id="getUserNameAndId" resultMap="userMap">
		SELECT id, user_nick FROM `user`
	</select>

	<!-- 注册用户 -->
	<insert id="save" parameterType="user">
		INSERT INTO `user` (user_name,pass_word,reg_time
		<if test="birthday != null">,birthday</if>
		<if test="sex != null">,sex</if>
		<if test="userNick != null">,user_nick</if>
		<if test="userImg != null">,user_img</if>
		<if test="introduction != null">,introduction</if>
		<if test="province != null">,province</if>
		<if test="city != null">,city</if>
		<if test="mobile != null">,mobile</if>
		<if test="email != null">,email</if>
		<if test="isValid != null">,is_valid</if>
		<![CDATA[ 
        ) VALUES ( 
    	]]>
		#{userName}, #{passWord},#{regTime}
		<if test="birthday != null">,#{birthday}</if>
		<if test="sex != null">,#{sex}</if>
		<if test="userNick != null">,#{userNick}</if>
		<if test="userImg != null">,#{userImg}</if>
		<if test="introduction != null">,#{introduction}</if>
		<if test="province != null">,#{province}</if>
		<if test="city != null">,#{city}</if>
		<if test="mobile != null">,#{mobile}</if>
		<if test="email != null">,#{email}</if>
		<if test="isValid != null">,#{isValid}</if>
		<![CDATA[ 
        ) 
    	]]>
		<selectKey resultType="Long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	

	<!-- 修改用户状态 -->
	<update id="modifyIsValid" parameterType="java.lang.Long">
		UPDATE `user` SET is_valid=#{isValid} WHERE id=#{id}
	</update>

	<!-- 修改用户信息 -->
	<update id="update" parameterType="user">
		UPDATE `user`
		<set>
			<if test="passWord != null">pass_word=#{passWord},</if>
			<if test="sex != null">sex=#{sex},</if>
			<if test="userNick != null">user_nick=#{userNick},</if>
			<if test="userImg != null">user_img=#{userImg},</if>
			<if test="birthday != null">birthday=#{birthday},</if>
			<if test="province != null">province=#{province},</if>
			<if test="city != null">city=#{city},</if>
			<if test="introduction != null">
				introduction=#{introduction},
			</if>
			<if test="mobile != null">mobile=#{mobile},</if>
			<if test="email != null">email=#{email},</if>
			<if test="isValid != null">is_valid=#{isValid},</if>
			<if test="isIndex != null">is_index=#{isIndex},</if>
		</set>
		WHERE id=#{id}
	</update>

	<!-- 查询一批用户 -->
	<select id="getUsersByIds" parameterType="java.lang.Long">
		SELECT * FROM `user` WHERE id IN
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>
	
	<select id="getUsersByModifyTime" parameterType="java.lang.String" resultMap="userMap">
		SELECT * FROM user WHERE modify_time > #{time}
	</select>
	
	<select id="getUsersByIndex" parameterType="java.lang.Integer" resultMap="userStatusResult">
		SELECT u.*,t.status_time, t.content FROM user u LEFT JOIN 
		(SELECT s.create_time AS status_time, s.user_id, s.content FROM (
			SELECT MAX(create_time) AS create_time  FROM status a WHERE a.is_valid = 1 			GROUP BY user_id 
		) ss 
		LEFT JOIN status s ON ss.create_time = s.create_time 
		) t ON u.id = t.user_id AND u.is_valid = 1 AND u.is_index = 0 
	</select>
</mapper>
